venv/
.venv/
env/
Lib/
Scripts/

data/raw/*
data/processed/*
data/features/*
models/*
submissions/*
notebooks/*
reports/figures/*

!data/raw/.gitkeep
!data/processed/.gitkeep
!data/features/.gitkeep
!models/.gitkeep
!submissions/.gitkeep
!notebooks/.gitkeep
!reports/figures/.gitkeep